<!-- Header -->
<header role="banner">
  <mat-icon aria-hidden="true">manage_search</mat-icon>
  <h1>HackerNews</h1>
</header>

<!-- Main content -->
<main class="main" role="main" id="main-content">
  <div class="wrapper">
    <!-- Material Tabs -->
      <mat-tab-group 
        backgroundColor="primary"
        aria-label="News story categories"
        (selectedTabChange)="onTabChange($event)"
        dynamicHeight>
        <mat-tab aria-label="Top Stories">
          <ng-template mat-tab-label>
            <mat-icon aria-hidden="true">trending_up</mat-icon>
            <span>Top Stories</span>
          </ng-template>
          <ng-template matTabContent>
              <div class="cards">
                @for (story of stories(); track story.id; let i = $index) {
                <app-news-card-component [story]="story"></app-news-card-component>
                }
              </div>
          </ng-template>
        </mat-tab>

        <mat-tab aria-label="New Stories">
          <ng-template mat-tab-label>
            <mat-icon aria-hidden="true">fiber_new</mat-icon>
            <span>New Stories</span>
          </ng-template>
          <ng-template matTabContent>
              <div class="cards">
                @for (story of stories(); track story.id; let i = $index) {
                <app-news-card-component [story]="story"></app-news-card-component>
                }
              </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
  </div>

  <router-outlet />
</main>

<!-- Loading Spinner -->
@if (loading()) {
  <mat-spinner diameter="50" aria-label="Loading"></mat-spinner>
}
<!-- Error Card -->
@if (error()) {
<mat-card>
  <mat-card-content>
    <p id="error-message">{{ error() }}</p>
    <button mat-raised-button 
      color="warn" 
      (click)="loadStories()" 
      aria-describedby="error-message"
      aria-label="Retry loading stories">
      Try Again
    </button>
  </mat-card-content>
</mat-card>
}

<!-- To view more news cards-->
@if (stories().length > 0) {
<div class="center">
  <button mat-raised-button (click)="loadMore()" [disabled]="loadingMore()">
    @if (loadingMore()) {
    <mat-spinner diameter="20" aria-hidden="true"></mat-spinner>
    }
    {{ loadingMore() ? 'Loading...' : 'Load more news' }}
  </button>
</div>
}